@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,700;1,9..40,700&family=Inter:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #5b41fb 0deg,
    #4456f8 176.2500035762787deg,
    #53acff 260.6249928474426deg,
    #573dfb 360deg
  );
  height: 100%;
  backdrop-filter: blur(125px);
  font-family: "DM Sans", sans-serif;
}
